/* Design1 */

.header{
  width: 1521px;
  height: 4rem;
  background-color: rgb(14, 14, 185);
}

.header h3{
  padding: 1.3rem 0 0 3rem;
  color: aliceblue;
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 9rem;
}

.header p{
  font-size: 5rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  opacity: 0.8;
}

.food{
  margin-top: 9rem;
}

.kitchen{
  margin-top: -5rem;
}

.buton{
  text-align: center;
  margin-top: -2rem;
}

.buton button{
  padding: 0.7rem 1.6rem;
  background-color: rgb(14, 14, 185);
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.buton button:hover{
  cursor: pointer;
}

/* Order */

.card-list{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  row-gap: 3rem;
  margin-bottom: 5rem;
}

.card img{
  width: 94%;
  height: 200px;
  display: block;
}

.price{
  max-width: 76%;
  padding: 2.14rem;
  background-color: white;
  box-shadow: 10px 10px 10px;
  border-radius: 5px;
}

.card:hover{
  padding: 0.6rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.price button{
  padding: 0.2rem 1.4rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
}

.food{
  margin-top: -1rem;
  font-size: 1.7rem;
}

.rate{
  margin-top: -1rem;
  margin-bottom: 0.45rem;
}

.buton1{
  background-color: rgb(14, 14, 185);
  color: aliceblue;
}

.buton2{
  background-color: lightgray;
  color: gray;
}

.buton1, .buton2:hover{
  cursor: pointer;
}

.order-1{
  text-align: center;
  margin-bottom: 2rem;
}

.order-1 button{
  padding: 0.6rem 1.6rem;
  background-color: red;
  color: yellow;
  border: none;
  font-weight: bolder;
  font-size: 1.2rem;
  border-radius: 5px;
}

.order-1 button:hover{
  background-color: yellow;
  color: red;
  cursor: pointer;
}

.checkout{
  width: 70%;
  padding: 2rem;
  margin: 0 auto;
  border: 1px solid whitesmoke;
  box-shadow: 10px 10px 10px rgb(224, 208, 208);
  margin-top: 7rem;
}

.thanks-page{
  text-align: center;
  font-size: 2.5rem;
}

.checkout span{
  font-size: 1.7rem;
}

.login-form{
  height: 300px;
  background-color: bisque;
  width: 18%;
  margin: 0 auto;
  padding: 4rem;
  margin-top: 5rem;
  border-radius: 5px;
}

.login-form input{
  padding: 0.33rem;
  border-radius: 4px;
}

.login-button{
  margin-right: 5rem;
}

.login-button button{
  padding: 0.3rem 2rem;
  background-color: aqua;
  color: crimson;
  font-size: 1rem;
  border-radius: 4px;
}

.login-button button:hover{
  cursor: pointer;
}

.food-price{
  margin-bottom: 1.5rem;
}

.total-item{
  margin-bottom: 0.45rem;
}

.buton-3{
  padding: 0.8rem 2rem;
  border-radius: 5px;
  background-color: aqua;
  position: relative;
  left: 77%;
  top: 30px;
  font-size: 1rem;
  color: green;
  border: none;
  font-weight: bold;
}

.buton-3:hover{
  cursor: pointer;
  background-color: green;
  color: aqua;
}